# **Analise d cancelamento de planos**
---
Meste *Jupyter notebook* vamos analisar as taxas de cancelamento de planos da ***umbrella corporation***, e a pari dess analise, tentar descobrir os motivos que levaram a uma alta taxa de cancelamento, e reverter a situação no processo.

# _ ***Passo 1***: instalar o *pandas*
---

 A primeira coids se fazer é abrir o database no notebook. Por isso, iremos fazer uso de uma bibliteca do Python usada para a análise de dados chamada *Pandas*.

 1. Baixe o **dataset** no tema *Materiais*, que se encontra no site do *Google Classrom* (https://clasroom.google.com) na pasta raiz do projeto.

 2. Em seguida crie um ambiente virtual do python na raiz do projeto `(.venv)`.

 3. Após a criação do `.venv`, instale a biblioteca **Pandas** no ambiente virtual usando **CLI** atraves do seguinte comando: `pip installl pandas`. Não esqueça de ativar o ambiente virtual no *kernel* do notebook no canto superior direito do notebook, em *selecione Kernel*


# _ ***Passo 2***: abrir o **database**
---
Como *Pandas* instalado no ambiente virtual do nosso projeto, agora vamos abrir o ***dataset***. Para isso vamos criar uma *nova* célua de **markdown**, e digitarmos o código-fonte para abrir os dadoas do dataset do notebook. O código-fonte está logo abaixo:

In [1]:
import pandas as pd
    
tabela = pd.read_csv('cancelamentos.csv')
display(tabela)

,CustomerID,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
881661,449995.0,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,449996.0,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,449997.0,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,449998.0,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,449999.0,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

O comando `display()` permite a exibição dos dados como se fosse uma tabela.

Só que agora que finalmente temos os dados armazenados na variável `tabela`, precisaremos filtrar esses dados. Vamos refazer a consulta, mas desta vez iremos retirar a coluna ID, pois ela é inútil para a nossa análise de dados.

A seguir, vamos acrescentar outra célula de código para realizar a filtragem de dados:

In [2]:
# exibe novamente os dados eliminando a coluna id
tabela = tabela.drop('CustomerID', axis=1)
display(tabela)

,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
881661,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

## Passo 3: Tratamento de dados 
---
### **Não é fetiçaria. É tecnologia...**

Graças ao ***Python***, agora temos uma poderosa feramenta para análise de dados muito mais perfeita que muita ferramenta famosa (*cof cof* Excel).

Na nossa pçanilha nós temos muitas linhas, sendo que algumas delas estão com dados vazios (mas não sabemos qual, nem quantas). Portanto vamos exibir as informações da nossa planilha para verificar quantas linhas possuem, de fato, dados e quantas estão vazias. Veja as células de código a seguir:

In [4]:
tabela = tabela.dropna()
display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
Index: 881659 entries, 0 to 881665
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   idade                   881659 non-null  float64
 1   sexo                    881659 non-null  object
 2   tempo_como_cliente      881659 non-null  float64
 3   frequencia_uso          881659 non-null  float64
 4   ligacoes_callcenter     881659 non-null  float64
 5   dias_atraso             881659 non-null  float64
 6   assinatura              881659 non-null  object
 7   duracao_contrato        881659 non-null  object
 8   total_gasto             881659 non-null  float64
 9   meses_ultima_interacao  881659 non-null  float64
 10  cancelou                881659 non-null  float64
dtypes: float64(8), object(3)
memory usage: 80.7+ MB

None

##*Passo 4: Analise de dados
---